svg {
  display: block;
}

.background {
  fill: #f7f8f9;
}

.highlighted {
  stroke-width: 1px;
  stroke: #212121;
}

.axis {
  fill: #224063;
  stroke: none;
  font-size: 10px;
}

.faded {
  opacity: 0.2;
}

.legend_container {
  background-color: #f7f8f9;

  .legend {
    margin: 12px 0px;
    width: 90px;

    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 6px;

    font-size: 16px;

    svg {
      margin: 2px;
      cursor: pointer;
    }

    .title {
      padding: 9px 6px 6px;
      height: 30px;
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.52px;
      border-bottom: 1px solid #DEE2E6;
    }

    ::ng-deep .field-checkbox {
      padding: 5px 6px;
      margin: 0;
      font-size: 14px;

      label {
        cursor: pointer;
        margin-left: 2px;
      }

      .p-avatar {
        width: 10px;
        height: 10px;
      }

      .cluster_number {
        margin-left: 2px;
        color: #495057;
      }

      .select_number {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        color: #9FA9B7;
      }
    }
  }
}

.plot {
  padding: 12px;
}

.filler {
  background-color: #f7f8f9;
  height: 120px;

  .focus_restricted {
    height: 20px;
    font-family: Inter;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: #00000099;
    background-color: #F5F5F5;
    line-height: 20px;
  }

  .focus_item {
    width: 408px;

    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 6px;

    .focus_content {
      padding: 12px;
    }

    .focus_point_container {
      width: 247px;
    }

    .foucs_info_item {
      padding: 3px 0;
      display: flex;
      align-items: center;
    }

    .focus_info {
      font-family: Inter;
      font-size: 13px;
      font-weight: 600;
      line-height: 13px;
      text-align: left;
      color: #495057;
      margin-left: 5px;
    }

    .cluster_desc {
      margin-left: 5px;
      font-family: Inter;
      font-size: 11px;
      font-style: italic;
      font-weight: 400;
      color: #9E9E9E;
    }

    h3, h4 {
      margin-top: 0;
    }

    ::ng-deep .p-avatar-circle {
      width: 13px;
      height: 13px;
    }
  }
}

// note .structure_tooltip has to be styled in the global styles file
