svg {
  display: block;
}

.background {
  fill: #f7f8f9;
}

.grid {
  stroke-width: 1;
  stroke: #F0F0F0;
}

.axis {
  fill: #224063;
  stroke: none;
  font-size: 10px;

  &.selected {
    font-weight: 700;
    opacity: 1;
  }

  &.default {
    font-size: 8px;
    font-style: italic;
  }
}

.point {
  fill: #A6CEE3;

  &.selected {
    fill: #224063;
  }
}

.curve {
  fill: none;
  stroke: #A6CEE3;
}

.click-target {
  cursor: pointer;
}
rect.click-target {
  fill: transparent;
  stroke: transparent;
}
