/**************** app ******************/

@import '../../../css/core';

//use primeng theme colors whenver possible
//https://www.primefaces.org/primeng/colors

//**************** custom mixins ******************


//**************** css ******************

::ng-deep .p-progressbar {
    height: .5rem;
}

.header {
    @include on_desktop() {
        display: flex;
        align-items: flex-end;
        gap: $padding;
    }

    margin: {
        bottom: $padding * 2;
    }

    h3 {
        margin: 0px;
    }

    .info {
        .details {
            @include on_desktop() {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                gap: (0px) $padding;
            }

            margin: {
                top: 6px;
            }

            font: {
                size: .75rem;
            }

            > div {
                white-space: nowrap;
            }

            .sequence_count {
                padding-right: 12px;
                border-right: 1px solid #6C757D;
            }

            .p-button-sm {
                height: 44px;
            }
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: $padding * .5;

        @include not_desktop() {
            margin: {
                top: $padding;
            }
        }

        .p-button {
            white-space: nowrap;
            height: 44px;
        }
    }

    .spacer {
        flex-grow: 1;
    }

    .copy_and_paste_button {
        cursor: pointer;

        &:hover {
            color: css_var(primary-color);
        }
    }
}

::ng-deep .p-panel {

    .p-panel-header {
        padding: 14px 16px;
    }

    .p-panel-content {
        padding: 0;
    }

    h3 {
        color: #495057;
        font-size: 14px;
        line-height: 33px;
        margin-top: 0;
    }

    .p-button {
        height: 33px;
    }
}

.filter-num {
    width: 18px;
    height: 18px;
    background-color: #224063;
    color: #fff;
    border-radius: 50%;
    font-size: 10.5px;
    font-weight: 400;
    line-height: 18px;
}

::ng-deep .p-overlaypanel-content {
    padding: 0 !important;
    .clustering_panel {
        padding: 0 21px;
        border-bottom: 1px solid #DEE2E6;
        .cluster-desc {
            font-family: Inter;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            color: #6C757D;
        }
    }

    .molecules_panel {
        padding: 0 21px;
        border-bottom: 1px solid #DEE2E6;
        padding-bottom: 1.5rem;
    }

    .other_panel {
        padding: 0 21px;
    }

    .footer_panel {
        background-color: #F8F9FA;
        padding: 20px;
    }
}

.cluster-plot-container {
    width: 540px;
    padding: 10px 16px;
    background: #F7F8F9;

    .clust-plot-header {
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        color: #343A40;
        border-bottom: 1px dashed #343A40;
    }
}

::ng-deep .p-paginator {
    padding: 0;

    .p-paginator-element {
        width: 14px;
        height: 14px;
        min-width: 0;
        padding: 10px;
    }

    .p-paginator-page {
        height: 35px !important;
        min-width: 35px !important;
    }

    .p-dropdown {
        height: 30px;
        align-items: center;
    }
}

.loader {
}

.lowLevel {
    color:#F2D066;;
}

.midLevel {
    color:#7FC9EF;;
}

.highLevel {
    color:#2152CE;;
}

a:link, a:visited, a:active {
    color: #495057;
}

.card {
    margin: auto;
    width: 70%;
}

:host ::ng-deep .p-message.p-message-info {
    background: #F2F5FC;
    border-width: 0 0 0 0;
    color: #224063;
    text-align: center;
    .p-message-icon {
        display: none;
    }
}

:host ::ng-deep .p-message.p-message-error {
    border-width: 0 0 0 0;
    text-align: left;
}

::ng-deep .clustering_mode_selector {
  .p-button {
    padding: 0.25rem 0.7rem;
  }
  .p-button-label {
    font-weight: 500;
  }
}

.table_caption {
    display: flex;
    justify-content: space-between;
    align-items: center; //flex-end;
    gap: $padding;

    h3 {
        margin: 0px;
    }
}

.failJob {
    margin: auto;
    text-align: center;
    width: 100%;
}

tr.highlighted {
    background-color: #F5F9FF;
}

td {
  vertical-align: middle;
  padding: 7px 16px !important;

  &.structure_2d {
    &:hover {
      cursor: pointer;

      app-molecule2d ::ng-deep svg {
        border-radius: 6px;
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9dc1fb, 0 1px 2px 0 black;
      }
    }
  }
}
