<div class="container">
    <main>
        <div class="w-full">
            <h1>Welcome to Molli!</h1>
            <h5 class="container-small" style="margin-top: 20px;">
                Molli (<span class="inline font-semibold">MOL</span>ecular <span class="font-semibold">LI</span>brary) is a
                chemoinformatics toolkit to manipulate large <i>in silico</i> libraries. 
                <br/> 
                <br/> 
                Molli can expand three-dimensional, combinatorial molecule libraries directly from two-dimensional
                chemical structure fragments stored in CDXML files with high stereochemical fidelity. It supports
                geometry optimization, property calculation, and conformer generation by interfacing with widely used
                computational chemistry programs such as OpenBabel, RDKit, ORCA, NWChem, and xTB/CREST.
            </h5>

            
            <div class="container-nav">
                <h4 class="font-bold">There are two primary ways to use Molli:</h4>
                <div class="container-nav-header">
                    <div>
                        <h5 class="font-bold">Python Library and Documentation</h5>
                        <h5 class="container-small">Install the cross-platform Molli package to take advantage of its powerful command line interface and Python classes for common molecule manipulations, conformer-dependent grid-based feature calculators, and scalable 3D visualizations.</h5>
                    </div>
                    <div>
                        <a href="https://molli.readthedocs.io/en/latest/" target="_blank" rel="noopener noreferrer">
                            <button pButton title="Read Documentation" type="button" label="Read Documentation"></button>
                        </a>
                    </div>
                </div>
                <div class="container-nav-body">
                    <img src="assets/molli-doc.png" alt="Molli Library Documentation">
                </div>
            </div>

            <div class="container-nav">
                <div class="container-nav-header">
                    <div>
                        <h5 class="font-bold">AlhyaSynthesis Web App</h5>
                        <h5 class="container-small">Use the point-and-click web application to generate an <i>in silico</i> library of <b>BOX ligands</b> from a set of bases and substituents you provide. Explore the library with interactive tools and export the data for use in other tools.</h5>
                    </div>
                    <div>
                        <button pButton title="Open APP" type="button" label="Open APP" routerLink="/configuration"></button>
                    </div>
                </div>
                <div class="container-nav-body">
                    <img src="assets/molli-tool.png" alt="Molli Web Application">
                </div>
            </div>
        </div>
    </main>
</div>