/**************** configuration ******************/

@import '../../../css/core';

//use primeng theme colors whenver possible
//https://www.primefaces.org/primeng/colors

//**************** custom mixins ******************

@mixin column_status($name) {
    ::ng-deep .status_#{$name} {
        color: css_var('background');
        background: {
            color: css_var(#{'configuration_status_' + $name});
        }
    }
}

//**************** css ******************

:host ::ng-deep .p-panel-header {
    background-color: #F2F5FC;
}

.panel_content {
    //fill the space with the textarea
//    margin: -($padding * .75) (-($padding * .5));
    margin: {
        top: -($padding * 1.25);
        right: -($padding * 1.25);
        bottom: -($padding * 1.25);
        left: -($padding * 1.25);
    }

    textarea {
        display: block;

        padding: ($padding) ($padding * 1.5);

        border: 0px;

        @include input-block-level();
    }
}

::ng-deep p-selectbutton {
    .p-button {
        display: inline-flex;
        gap: $padding * .35;

        font: {
            size: .75rem;
        }

        @include p-button-xs();
    }
}

:host ::ng-deep .p-message.p-message-info {
    background: #F2F5FC;
    border-width: 0 0 0 0;
    color: #224063;
    text-align: center;
    .p-message-icon { 
        display: none;
    }
}

:host ::ng-deep .p-message.p-message-error {
    border-width: 0 0 0 0;
    text-align: left;
}

.panel_bar {
    display: flex;
    align-items: center;
    gap: $padding * .5;

    padding: ($padding * .5) ($padding * 1.5);

    border: {
        bottom: 1px solid #dee2e6;
    }

    &.upload_bar {
        background: {
            color: #f8f8f8; // #f2f5fc;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0px;
    }

    .spacer {
        flex-grow: 1;
    }

    .buttons {
        // border: 1px solid #224063;
        display: flex;
        align-items: center;
        .label {
            padding: 0.5rem;
            // border: 1px solid #224063;
        }
    }

    
}

.validation {
    border: 1px solid #eee;

    @include border-radius($border_radius); //css_var('border-radius', '', '')); //use primeng setting

    .status {
        display: flex;
        align-items: flex-start;
        gap: $padding * .5;

        padding: $padding ($padding * 1.5);

        @include border-top-radius($border_radius);

        &.error {
            color: css_var('status_error_text');
            background: {
                color: css_var('status_error');
            }
        }

        &.warning {
            color: css_var('status_warning_text');
            background: {
                color: css_var('status_warning');
            }
        }

        .status_label {
            font: {
                weight: bold;
            }
        }
    }

    .info {
        display: flex;
        align-items: flex-start;
        gap: $padding * .5;

        padding: $padding ($padding * 1.5);

        .message {
            flex-grow: 1;

            padding: {
                top: $padding * .25;
            }
        }

        .progress_icon {
            .pi {
                margin: .2rem;

                font: {
                    size: 1.25rem;
                }
            }
        }
    }
}

.controls {
    @include on_desktop() {
        display: flex;
        align-items: flex-start;
        gap: $padding * 2;
    }

    margin: {
        top: $padding;
    }

    .review {
        flex-grow: 1;

        h3 {
            margin: 0px;
        }
    }

    .buttons {
        padding: {
            top: $padding * 1.5;
        }

        .p-button {
            &:disabled {
                color: css_var('button_disabled_label');
                background: {
                    color: css_var('button_disabled');
                }

                border: {
                    color: css_var('button_disabled');
                }
            }
        }

        ::ng-deep .p-button-label {
            white-space: nowrap;
        }
    }
}

.example_data {
    overflow: {
        y: auto;
    }
    min: {
        height: 8rem;
    }
    max: {
        height: 16rem;
    }

    padding: $padding ($padding * 1.5);

    overflow-wrap: break-word;
}

.email {
    display: inline-block;
    padding: 1rem 1rem;
    padding-left: 0px;
}

.failJob {
    margin: auto;
    text-align: center;
    width: 100%;
}

.file_upload_table {
    th,
    td {
        padding: ($padding * .75);

        &:first-child {
            padding: {
                left: $padding * 1.5; //provide more padding to match page content
            }
        }

        &.column_status {
            min: {
                width: 10rem; //avoid column sizing changes when status is updated
            }
        }
    }

    th {
        padding: {
            top: $padding;
            bottom: $padding;
        }

        font: {
            weight: normal;
        }
        text: {
            transform: uppercase;
        }

        vertical-align: bottom;
    }

    td {
        &.column_filename {
            max: {
                width: 15rem;
            }

            overflow-wrap: anywhere; //break-word; //word-wrap: break-word;
        }

        &.column_status {
            @include column_status('processing');
            @include column_status('success');
            @include column_status('warning');
        }

        &.column_status_details {
            ::ng-deep strong,
            ::ng-deep b {
                font: {
                    weight: bold;
                }
            }
        }

        &.column_action {
            ::ng-deep .p-button {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 1.5rem;
                height: 1.5rem;

                padding: 0rem;

                .pi {
                    font: {
                        size: .9rem;
                    }
                }
            }
        }
    }
}

.review_table {
    tr {
        &.warning {
            background: {
                color: #FEF2E8;
            }

            .column_index {
                color: #D46213;
            }

            ::ng-deep .p-chip {
                max-width: 30rem;

                color: css_var('background');
                background: {
                    color: #D46213;
                }
            }
        }
    }
//    #D46213
}